.my-photo {
  border-radius: 50%;
  background-image: url("../images/foto-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 60px 6px rgba(231, 166, 26, 1);
  -moz-box-shadow: 0px 0px 60px 6px rgba(231, 166, 26, 1);
  box-shadow: 0px 0px 60px 6px rgba(231, 166, 26, 1);
  animation: move-bg 4s linear infinite;
}
@keyframes move-bg {
  0%,
  100% {
    -webkit-box-shadow: 0px 0px 48px 6px rgba(231, 166, 26, 1);
    -moz-box-shadow: 0px 0px 48px 6px rgba(231, 166, 26, 1);
    box-shadow: 0px 0px 48px 6px rgba(231, 166, 26, 1);
  }
  50% {
    -webkit-box-shadow: 0px 0px 0px 6px rgba(231, 166, 26, 1);
    -moz-box-shadow: 0px 0px 40x 6px rgba(231, 166, 26, 1);
    box-shadow: 0px 0px 0px 6px rgba(231, 166, 26, 1);
  }
}
.text-muted {
  font-size: 0.8rem;
}
.skill-row {
  margin-top: 25px;
}
